<div id="<%= dom_id article %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= article.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= article.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cover:</strong>
    <% if article.cover.attached? %>
      <%= image_tag article.cover, alt: "Cover image for #{article.title}", class: "w-full h-auto mb-4" %>
    <% else %>
      <p>No cover image available.</p>
    <% end %>
  </p>

</div>
